/*  --------------------------------------------------------------*/
/*  BASIC SETUP */
/*  --------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato','Arial',sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
/*  --------------------------------------------------------------*/
/*  REUSABLE COMPONENTS */
/*  --------------------------------------------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding: 80px 0;
}
/* -------HEADINGS------- */
h1, h2, h3 {
    font-weight: 300;
    text-transform: uppercase;
}
h1 {
    margin-top: 0;
    margin-bottom: 30px;
    color: #fff;
    font-size: 240%;
    letter-spacing: 1px;
    word-spacing: 2px;
}
h2 {
    font-size: 180%;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
h3 {
    font-size: 110%;
    margin-bottom: 15px;
}
h2:after{
    display:block;
    height:2px;
    background-color:orange;
    content:" ";
    width:100px;
    margin:0 auto;
    margin-top:30px;
}

.box {
    padding: 1%;
}
/* -------PARAGRAPHS------- */
.para-heading {
    line-height: 145%;  
    width: 70%; 
    margin-left: 15%;
}
.box p{
    font-size:90%;
    line-height:145%;
}
/* -------ICONS------- */
.icon-features{
    font-size:300%;
    display:block;  
    color:orange;
    margin-bottom:10px;
}

/* -------BUTTONS------- */
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    border: 1px solid orange;
    -webkit-transition: background-color 1s, color 1s;
    transition: background-color 1s, color 1s;
}

.btn-full:link,
.btn-full:visited {
    background-color: orange;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: orange;
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    color: white;
}

/*  --------------------------------------------------------------*/
/*  HEADER */
/*  --------------------------------------------------------------*/

header {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.5)),to(rgba(0, 0, 0, 0.5))),url(img/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(img/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

/* -----------LOGO--------------- */
.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top:20px;
}
/* -------NAVIGATION LINKS------- */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 50px;
}

.main-nav li {
    display: inline-block;
    margin-right: 20px;   
}

.main-nav li a:link,
.main-nav li a:visited {
    padding:8px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:active,
.main-nav li a:hover {
    border-bottom: 2px solid orange;    
}

/* -------MEALS------- */
.section-meals{
padding:0;
}

.list-meals {
    list-style: none;
}

.list-meals li {
    float: left;
    display: inline-block;
    width: 25%;
}
.img-meal {
    margin: 0;
    width: 100%;
    overflow: hidden;
    background-color: #000; 
}
.img-meal img {
    opacity: 0.7;
    width: 100%;
    -webkit-transition: opacity 0.5s, -webkit-transform 1s;
    transition: opacity 0.5s, -webkit-transform 1s;
    transition: transform 1s, opacity 0.5s;
    transition: transform 1s, opacity 0.5s, -webkit-transform 1s; 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
}
.img-meal img:hover {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);  
}

